/.vscode
/FizzBuzz.py
/neco.txt
/otazka1.py
/otazka10.py
/otazka11.py
/otazka12.py
/otazka14.py
/otazka14v2.py
/otazka15.py
/otazka16.py
/otazka17.py
/otazka18.py
/otazka19.py
/otazka2.py
/otazka20.py
/otazka20_2.py
/otazka3.py
/otazka4.py
/otazka5.py
/otazka6.py
/otazka7.py
/otazka8.py
/otazka9.py
/Python_Maturita_prakticke
/soubor.csv
/text.txt
/texty.txt
/zadani_globalni_promenna.py
/zkouska.py